body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

h1{
    font-size: 70px;
    color: gray;
}
h2{
    font-size: 40px;
    color: gray;
}
h3{
    font-size: 40px;
    color: gray;
}
.first-section{
    display: flex;
    padding-left: 50px;
    margin-bottom: 130px;
}
.first.div{
    width: 50%;
}
img{
    width: 80%;
    padding-left: 40px;
}
.second-div{
    width: 50%;
}
span{
    color: orange;
}
.first-paragraph{
    color: gray;
    padding-right: 10%;
    font-size: 20px;
    padding-bottom: 30px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgba(254,79,48,255),rgba(252,131,67,254));
    padding: 15px 15px;
    border-radius: 30px;
}
#second-picture{
    background-image: url(images/frame.png);
}
.second-paragraph{
    padding-right: 30%;
    color: rgb(63, 57, 57);
    padding-bottom: 80px;
}
.third-section{
    align-content: center;
    text-align: center;
}
.third-paragraph{
    padding-left: 30%;
    padding-right: 30%;
    color: rgb(63, 57, 57);
    padding-bottom: 80px;
}
.third-div{
    align-content: center;
}